## Context:

To Identify Sentiment Analysis of give input is number(may be Encrypted or already Vectorized ),so cannot we implement Lemmitization or Vectorization

## Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import nltk

import warnings 
warnings.filterwarnings("ignore")

## Reading Data

In [2]:
df_train = pd.read_csv("training.csv")
df_test = pd.read_csv("test_.csv")

## Droping Id Column from Train and Test Data

In [3]:
df_train.drop(["id"],axis = 1,inplace = True)
df_test.drop(["id"],axis = 1,inplace = True)

## Data Peak

In [4]:
df_train

      category                                               text
0            0    5573 1189 4017 1207 4768 8542 17 1189 5085 5773
1            0       6315 7507 6700 4742 1944 2692 3647 4413 6700
2            0                      5015 8067 5335 1615 7957 5773
3            0  2925 7199 1994 4647 7455 5773 4518 2734 2807 8...
4            0                  7136 1207 6781 237 4971 3669 6193
...        ...                                                ...
3459         1  6787 5435 3515 3324 3477 7337 4234 4328 7606 5...
3460         1  6787 5983 5922 1577 5658 3718 1530 4801 5658 7...
3461         1  6787 3359 4108 5007 3477 4909 5342 224 6663 64...
3462         1  6787 3917 4017 5573 5979 4457 4108 1226 4332 1...
3463         1  6787 636 4017 8618 5941 7410 1352 5239 753 646...

[3464 rows x 2 columns]

In [5]:
df_test

                                                   text
0     2705 4888 5050 5815 2472 5157 652 2117 2110 32...
1     389 4978 315 5178 513 5249 5853 3267 315 3891 ...
2     4478 4231 4858 2638 4231 867 371 686 4888 4179...
3     3015 1911 112 3905 825 337 315 1693 4677 825 5...
4     5136 3918 5153 2023 3091 4159 315 3711 1409 27...
...                                                 ...
1355  3163 4030 3892 3405 1470 2893 3163 4372 4151 3...
1356  2336 5820 5775 5853 1392 2336 3777 5655 1355 2...
1357  123 4888 1158 5566 2025 2703 1241 652 4030 202...
1358  5120 3886 5920 5289 750 4304 2283 3747 2118 32...
1359  2808 1703 2496 4362 2443 4666 497 4677 2543 56...

[1360 rows x 1 columns]

## Tokenization

In [6]:
corpus_train = []
for sent in df_train["text"]:
    review = sent.split()
    review = " ".join(review)
    corpus_train.append(review)

In [7]:
corpus_test = []
for sent in df_test["text"]:
    review = sent.split()
    review = " ".join(review)
    corpus_test.append(review)

## Vectrorization (TF IDF)

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer
cv = TfidfVectorizer()
X_train = cv.fit_transform(corpus_train).toarray()
X_test = cv.transform(corpus_test)

y_train = df_train["category"]

In [9]:
print(X_train.shape)
print(y_train.shape)

(3464, 8484)
(3464,)

## Resampling

In [10]:
from imblearn.combine import SMOTETomek
os = SMOTETomek()
X_train,y_train = os.fit_sample(X_train,y_train)

In [11]:
from collections import Counter
print("Counter After : {} ".format(Counter(y_train)))

Counter After : Counter({0: 3348, 1: 3348})

## Model Building

In [12]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [13]:
naive = MultinomialNB().fit(X_train,y_train)

## Prediction

### Prediction for Train Data

In [14]:
pred = naive.predict(X_train)
print(classification_report(pred,y_train))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      3342
           1       1.00      1.00      1.00      3354

    accuracy                           1.00      6696
   macro avg       1.00      1.00      1.00      6696
weighted avg       1.00      1.00      1.00      6696

Model is Over Fitted

### Prediction for Test Data

In [15]:
pred_test = naive.predict(X_test)
df_test = pd.read_csv("test_.csv")
pred_df = pd.DataFrame(data = df_test["id"])
pred_df["category"] = pred_test

## Prediction Result Converting into DataFrame

In [21]:
pred_df.to_csv(r'C:\\Users\\MEENAKASHI\\OneDrive\\Desktop\\Result\\Predicted_Result.csv',index = False)

In [22]:
result_df = pd.read_csv("C:\\Users\\MEENAKASHI\\OneDrive\\Desktop\\Result\\Predicted_Result.csv")

In [23]:
result_df

        id  category
0     3729         0
1     3732         0
2     3761         0
3        5         0
4        7         0
...    ...       ...
1355   311         0
1356   324         0
1357   329         0
1358   342         0
1359   352         0

[1360 rows x 2 columns]

## Cheacking Prediction Level of Accuracy with use of Counts

In [25]:
result_df["category"].value_counts()

0    1313
1      47
Name: category, dtype: int64

##  Conclusion:

Here i Build a model with use Machine Learning Algorithm of Naive Bayes and  Tf IDF vectorization but comparing with Bag of Words with Naive Bayes is Optimized